/* reset viewport*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section1: linear-gradient(to bottom, #131313, #2b2b2b);
  --section2: linear-gradient(to bottom, #2b2b2b, #131313);
  --section3: linear-gradient(to bottom, #2b2b2b, #131313, #2b2b2b);
}

html {
  background-image: var(--section2);
}

nav {
  background-image: var(--section1);
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: #f6f5f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#welcome-section {
  text-align: center;
  color: #f6f5f2;
  margin-top: 75px;
  padding: 130px;
  background-image: var(--section3);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  padding: 15px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.7rem;
  text-align: center;
  color: #f6f5f2;
  background-image: var(--section3);
}

#projects {
  background-image: var(--section3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

img {
  width: 300px;
  height: 300px;
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 10px;
  border: 2.5px solid #86868b;
}

a {
  text-decoration: wavy;
  color: #f6f5f2;
}

.tag {
  text-align: center;
  padding-top: 20px;
}

#contact {
  margin: 15px 20px 10px 10px;
}

fieldset {
  padding: 10px;
  border-radius: 5px;
}

label,
fieldset {
  color: #f6f5f2;
}

#name-label {
  padding-right: 15px;
}

#email-label,
#number-label,
label[for='type-project'] {
  padding: 25px;
}

/* style for the label to be centred above the textarea */
label[for='summary'] {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

#summary {
  width: 100%; /* Occupies the entire available width */
  box-sizing: border-box; /* Include padding and border in the total width */
  padding: 10px;
  margin-top: 15px;
}

.inline {
  margin-top: 10px;
  margin-bottom: 10px;
}

#rrss {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #f6f5f2;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #131313;
}

#foot {
  padding: 20px;
  color: #86868b;
  font-size: 18px;
}
