/* reset viewport*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section1: linear-gradient(to bottom, #131313, #2b2b2b);
  --section2: linear-gradient(to bottom, #2b2b2b, #131313);
  --section3: linear-gradient(to bottom, #2b2b2b, #131313, #2b2b2b);
}

html {
  background-image: var(--section2);
}

nav {
  background-image: var(--section1);
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: #f6f5f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
